<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h2 class="display-4 pb-2"><%= t "title_card_price" %></h2>
  <p class="lead"><%= t "subtitle_card_price" %></p>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6 text-center">
      <div class="card-deck mb-3">
        <% item = @items.find_by(sub_type: SubType.first, sub_category: SubCategory.first)%>
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal"><%= item.title %></h4>
          </div>
          <div class="card-body">
          <h1 class="card-title pricing-card-title"><%= item.price %>€ <small class="text-muted">/ sem</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li><%= t "body1_first_subscription" %></li>
              <li><%= t "body2_first_subscription" %></li>
              <li><%= t "body3_first_subscription" %></li>
              <li><%= t "body4_first_subscription" %></li>
              <li><%= t "body5_first_subscription" %></li>
            </ul><br>
            <%= link_to t("cta_discover"), item_path(item), class:"btn btn-block btn-primary btn-lg mx-auto"%>          
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 text-center">
      <div class="card mb-4 shadow-sm">
        <% item = @items.find_by(sub_type: SubType.last, sub_category: SubCategory.first)%>
        <div class="card-header">
          <h4 class="my-0 font-weight-normal"><%= item.title %></h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title"><%= item.price %>€ <small class="text-muted">/ mo</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li><%= t "body1_scd_subscription" %></li>
            <li><%= t "body2_scd_subscription" %></li>
            <li><%= t "body3_scd_subscription" %></li>
            <li><%= t "body4_scd_subscription" %></li>
            <li><%= t "body5_scd_subscription" %></li>
          </ul>
            <%= link_to t("cta_discover"), item_path(item), class:"btn btn-block btn-primary btn-lg mx-auto"%>          
        </div>
      </div>
    </div>
  </div>
</div>