<h1 class="text-center mt-4"><%= t "title_pres" %></h1>
<div class="container my-4 py-4">
  <div class="row mx-auto">
    <div class="col-lg-4-pres col-md-6 text-center">
      <h2 class="text-center pb-2"><%= t "text_pres" %></h2>
      <p class="text-justify"><%= t "text2_pres" %></p>      
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4-pres col-md-6 text-center">
      <%= image_tag("presentation_2.jpeg", class:"bd-placeholder-img rounded-circle mb-4", width:"200", height:"200") %>
      <h2 class="text-center pb-2"><%= t "text_scd_pres" %></h2>
      <p class="text-justify"><%= t "text2_scd_pres" %></p>      
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4-pres col-md-6 text-center">
      <%= image_tag("presentation_3.webp", class:"bd-placeholder-img rounded-circle mb-4", width:"200", height:"200") %>
      <h2 class="text-center pb-2"><%= t "text_thrd_pres" %></h2>
      <p class="text-justify"><%= t "text2_thrd_pres" %></p>      
    </div><!-- /.col-lg-4 -->
  </div>
</div>