<h1 class="text-center mt-4"><%= t "title_pres" %></h1>
<div class="container my-4 py-4">
  <div class="row mx-auto">
    <div class="col-lg-4-pres col-md-6 text-center">
      <img src="https://images.pexels.com/photos/5910950/pexels-photo-5910950.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="bd-placeholder-img rounded-circle mb-4" width="200" height="200">
      <h2 class="text-center pb-2"><%= t "text_pres" %></h2>
      <p class="text-justify"><%= t "text2_pres" %></p>      
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4-pres col-md-6 text-center">
      <img src="https://images.pexels.com/photos/219794/pexels-photo-219794.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="bd-placeholder-img rounded-circle mb-4" width="200" height="200">
      <h2 class="text-center pb-2"><%= t "text_scd_pres" %></h2>
      <p class="text-justify"><%= t "text2_scd_pres" %></p>      
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4-pres col-md-6 text-center">
      <img src="https://images.pexels.com/photos/162825/healthy-food-fresh-organic-162825.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="bd-placeholder-img rounded-circle mb-4" width="200" height="200">
      <h2 class="text-center pb-2"><%= t "text_thrd_pres" %></h2>
      <p class="text-justify"><%= t "text2_thrd_pres" %></p>      
    </div><!-- /.col-lg-4 -->
  </div>
</div>