<div class="h-100 text-dark-700 my-4 py-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 service-column">
        <div class="service-text">
          <span class="fas fa-apple-alt service-icon float-left"></span>
          <h6 class="text-uppercase"><%= t "rea_first_title" %></h6>
          <p class="text-muted font-weight-light text-sm mb-2"><%= t "rea_first_text" %></p>
        </div>
      </div>
      <div class="col-lg-4 service-column">
        <div class="service-text">
          <span class="fas fa-truck service-icon float-left"></span>
          <h6 class="text-uppercase"><%= t "rea_scd_title" %></h6>
          <p class="text-muted font-weight-light text-sm mb-2"><%= t "rea_scd_text" %></p>
        </div>
      </div>
      <div class="col-lg-4">              
        <div class="service-text">
          <span class="fas fa-stopwatch service-icon float-left"></span>
          <h6 class="text-uppercase"><%= t "rea_thrd_title" %></h6>
          <p class="text-muted font-weight-light text-sm mb-2"><%= t "rea_thrd_text" %></p>
        </div>
      </div>
    </div>
  </div>
</div>