<div class="container my-4 py-4 px-2">
  <div class="row mx-auto">
    <div class="col-lg-4 text-center">      
      <h2 class="h3"><%= t "testi_first_title" %></h2>
      <p class="text-justify"><%= t "testi_first_text" %></p>            
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4 text-center">      
      <h2 class="h3"><%= t "testi_scd_title" %></h2>
      <p class="text-justify"><%= t "testi_scd_text" %></p>            
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4 text-center">    
      <h2 class="h3"><%= t "testi_thrd_title" %></h2>
      <p class="text-justify"><%= t "testi_thrd_text" %></p>            
    </div><!-- /.col-lg-4 -->
  </div>
</div>