<div class="jumbotron-banner-home text-center">
  <div class="container mx-auto text-center btn btn-secondary btn-lg disabled">
    <h1 class="display-4 text-black ">Harry Cover</h1>
    <p>Paris 7eme</p>
  </div>
</div>
<div class="row site-elements align-items-center my-4">
  <div class="col-md-6 order-lg-2">
    <div class="pr-lg-4">
      <h1 class="h2 text-center my-4"><%= t "about_title" %></h1>
      <p class="mx-4 px-4"><%= t "about_text_1" %></p>
      <h2 class="h3 text-center my-4"><%= t "about_title_h2" %></h2>
      <p class="mx-4 px-4"><%= t "about_text_2" %></p>
      <p class="mx-4 px-4"><%= t "about_text_3" %></p>
      <ul class="mx-5 px-4">
        <li><%= t "about_li_1" %></li>
        <li><%= t "about_li_2" %></li>
        <li><%= t "about_li_3" %></li>
        <li><%= t "about_li_4" %></li>
        <li><%= t "about_li_5" %></li>
      </ul>
      <p class="mx-4 px-4"><%= t "about_text_4" %></p>
    </div>
  </div>
  <div class="col-md-6 order-lg-1">
    <%= image_tag("about_1.jpg", class:"img-fluid img-center ml-4") %>
  </div>
</div>