<h1 class="text-center mt-4"><%= t "info_title" %></h1>
<div class="container my-4 py-4">
  <div class="row mx-auto">
    <div class="col-lg-4 text-center">
          <%= image_tag("index_1.webp", class:"bd-placeholder-img rounded-circle mb-4", width:"200", height:"200") %>
      <h2 class="text-center"><%= t "info_first_h2" %></h2>
      <p class="text-justify"><%= t "info_first_text" %></p>      
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4 text-center">
      <%= image_tag("index_2.webp", class:"bd-placeholder-img rounded-circle mb-4", width:"200", height:"200") %>
      <h2 class="text-center"><%= t "info_scd_h2" %></h2>
      <p class="text-justify"><%= t "info_scd_text" %></p>      
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4 text-center">
      <%= image_tag("index_3.webp", class:"bd-placeholder-img rounded-circle mb-4", width:"200", height:"200") %>
      <h2 class="text-center"><%= t "info_thrd_h2" %></h2>
      <p class="text-justify"><%= t "info_thrd_text" %></p>      
    </div><!-- /.col-lg-4 -->
  </div>
</div>

<div class="row">
  <!--button href="/abonnements" class="btn btn-outline-primary btn-lg mx-auto">Je découvre les abonnements</button-->
  <%= link_to t("cta_discover"), abonnements_path, class:"btn btn-primary btn-lg mx-auto"%>
</div><br><br>