<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-4 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" src="https://bootdey.com/img/Content/avatar/avatar7.png" width="200"><span class="font-weight-bold"><%= current_user.first_name %> <%= current_user.last_name %></span><span class="text-black-50"><%= current_user.email %></span></div>
        </div>
        <div class="col-md-8">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h6 class="text-right">Edit Profile</h6>
                </div>
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                  <%= render "devise/shared/error_messages", resource: resource %>
                  <div class="row mt-2">
                      <div class="col-md-6">
                        <%= f.text_field :first_name, autofocus: true, autocomplete: "First Name", class: "form-control", placeholder: :first_name %>
                      </div>
                      <div class="col-md-6">
                        <%= f.text_field :last_name, autofocus: true, autocomplete: "Last Name", class: "form-control", placeholder: :last_name %>
                      </div>
                  </div>
                  <div class="row mt-3">
                      <div class="col-md-6">
                        <%= f.text_field :email, autofocus: true, autocomplete: "Email", class: "form-control", placeholder: :email %>
                      </div>
                      <div class="col-md-6">
                        <%= f.text_field :phone_number, autofocus: true, autocomplete: "Phone_number", class: "form-control", placeholder: :phone_number %>
                      </div>
                  </div>
                  <div class="row mt-3">
                      <div class="col-md-6">
                        <%= f.text_field :adress, autofocus: true, autocomplete: "Adress", class: "form-control", placeholder: :adress %>
                      </div>
                      <div class="col-md-6">
                        <%= f.text_field :address_sup, autofocus: true, autocomplete: "Address_sup", class: "form-control", placeholder: :address_sup %>
                      </div>
                  </div>
                  <div class="row mt-3">
                      <div class="col-md-6">
                        <%= f.text_field :door_code, autofocus: true, autocomplete: "Door_code", class: "form-control", placeholder: :door_code %>
                      </div>
                      <div class="col-md-6">
                        <%= f.text_field :city, autofocus: true, autocomplete: "City", class: "form-control", placeholder: :city %>
                      </div>
                  </div>
                  <div class="row mt-3">
                      <div class="col-md-6">
                        <%= f.text_field :zipcode, autofocus: true, autocomplete: "Zipcode", class: "form-control", placeholder: :zipcode %>
                      </div>
                  </div>
                  <div class="d-flex justify-content-between align-items-center mb-3 mt-5">
                    <h6 class="text-right">Change your password</h6>
                  </div>
                  <div class="row mt-3">
                    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                    <% end %>
                    <div class="col-md-6">
                      <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "leave blank if you don't want to change it" %>
                      <% if @minimum_password_length %>
                        <em><%= @minimum_password_length %> characters minimum</em>
                      <% end %>
                    </div>
                    <div class="col-md-6">
                      <%= f.password_field :password_confirmation, autofocus: true, autocomplete: "new-password", class: "form-control", placeholder: "Confirm new password" %>
                    </div>
                  </div>
                  <div class="d-flex justify-content-between align-items-center mb-3 mt-5">
                    <h6 class="text-right">Confirme your edit</h6>
                  </div>
                  <div class="row mt-3">
                    <div class="col-md-6 form-group">
                      <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control", placeholder: "Current password for confirm your edit" %>
                    </div>
                    <div class="col-md-6 text-right">
                      <%= f.submit "Mettre à jour", class: "btn btn-primary" %>
                    </div>
                  </div>
                <% end %>
                <div class="mt-5 mb-5 dropdown-divider"></div>
                <h3 class="h4">Supprimer mon compte</h3>
                <div class="form-inline mb-4">
                  <p class="pt-2 mt-3">Vous n'êtes pas satisfait ? <%= button_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Êtes-vous sûr ?" }, method: :delete, class: "btn btn-danger btn-sm mx-3 mt-3" %></p>
                </div>
            </div>
        </div>
    </div>
</div>
