<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-4 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" src="https://bootdey.com/img/Content/avatar/avatar7.png" width="200"><span class="font-weight-bold"><%= current_user.first_name %> <%= current_user.last_name %></span><span class="text-black-50"><%= current_user.email %></span></div>
        </div>
        <div class="col-md-8">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h6 class="text-right"><%= t "edit_profile"%></h6>
                </div>
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                  <%= render "devise/shared/error_messages", resource: resource %>
                  <div class="row mt-2">
                      <div class="col-md-6">
                        <%= f.text_field :first_name, autofocus: true, autocomplete: "First Name", class: "form-control", placeholder: t("name") %>
                      </div>
                      <div class="col-md-6">
                        <%= f.text_field :last_name, autofocus: true, autocomplete: "Last Name", class: "form-control", placeholder: t("last_name") %>
                      </div>
                  </div>
                  <div class="row mt-3">
                      <div class="col-md-6">
                        <%= f.text_field :email, autofocus: true, autocomplete: "Email", class: "form-control", placeholder: :email %>
                      </div>
                      <div class="col-md-6">
                        <%= f.text_field :phone_number, autofocus: true, autocomplete: "Phone_number", class: "form-control", placeholder: t("phone_number") %>
                      </div>
                  </div>
                  <div class="row mt-3">
                      <div class="col-md-6">
                        <%= f.text_field :adress, autofocus: true, autocomplete: "Adress", class: "form-control", placeholder: t("address") %>
                      </div>
                      <div class="col-md-6">
                        <%= f.text_field :address_sup, autofocus: true, autocomplete: "Address_sup", class: "form-control", placeholder: t("additional_address") %>
                      </div>
                  </div>
                  <div class="row mt-3">
                      <div class="col-md-6">
                        <%= f.text_field :door_code, autofocus: true, autocomplete: "Door_code", class: "form-control", placeholder: t("door_code") %>
                      </div>
                      <div class="col-md-6">
                        <%= f.text_field :city, autofocus: true, autocomplete: "City", class: "form-control", placeholder: t("city") %>
                      </div>
                  </div>
                  <div class="row mt-3">
                      <div class="col-md-6">
                        <%= f.text_field :zipcode, autofocus: true, autocomplete: "Zipcode", class: "form-control", placeholder: t("zip_code") %>
                      </div>
                  </div>
                  <div class="d-flex justify-content-between align-items-center mb-3 mt-5">
                    <h6 class="text-right"><%= t "change_password" %></h6>
                  </div>
                  <div class="row mt-3">
                    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                      <div><%= t "waiting_confirm" %> <%= resource.unconfirmed_email %></div>
                    <% end %>
                    <div class="col-md-6">
                      <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: t("leave_blank") %>
                      <% if @minimum_password_length %>
                        <em><%= @minimum_password_length %> <%= t "min_chara" %></em>
                      <% end %>
                    </div>
                    <div class="col-md-6">
                      <%= f.password_field :password_confirmation, autofocus: true, autocomplete: "new-password", class: "form-control", placeholder: t("confirm_password") %>
                    </div>
                  </div>
                  <div class="d-flex justify-content-between align-items-center mb-3 mt-5">
                    <h6 class="text-right"><%= t "confirm_edit" %></h6>
                  </div>
                  <div class="row mt-3">
                    <div class="col-md-6 form-group">
                      <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control", placeholder: t("current_password_edit") %>
                    </div>
                    <div class="col-md-6 text-right">
                      <%= f.submit t("update_profile"), class: "btn btn-primary" %>
                    </div>
                  </div>
                <% end %>
                <div class="mt-5 mb-5 dropdown-divider"></div>
                <h3 class="h4"><%= t "delete_account" %></h3>
                <div class="form-inline mb-4">
                  <p class="pt-2 mt-3"><%= t "not_satisfied" %> <%= button_to t("delete_account"), registration_path(resource_name), data: { confirm: "Êtes-vous sûr ?" }, method: :delete, class: "btn btn-danger btn-sm mx-3 mt-3" %></p>
                </div>
            </div>
        </div>
    </div>
</div>
