<div class="text-center my-4">
  <h1 class="display-3"><%= t "checkout_cancel_error" %></h1>
  <p class="lead"><strong><%= t "checkout_cancel_tryagain" %></strong></p>
  <hr>
  <p>
    <%= t "checkout_cancel_question" %> <%= link_to ("contact_title"), contact_path%>
  </p>
  <p class="lead">
    <%= link_to t("go_to_home"), root_path, role:"button", class: "btn btn-outline-primary btn-sm"%>
  </p>
</div>