<div class="text-center my-4">
  <h1 class="display-3"><%= t "thank_you" %></h1>
  <p class="lead"><strong><%= t "check_email" %></strong> <%= t "for_more_info_thanks" %></p>
  <hr>
  <p>
    <%= t "have_question" %> <%= link_to t("contact_title"), contact_path%>
  </p>
  <p class="lead">
    <%= link_to t("go_to_home"), root_path, role:"button", class: "btn btn-outline-primary btn-sm"%>
  </p>
</div>

