<div class="container contact-form my-5">
  <%= form_for :contact, url: contacts_path do |f| %>
  <h3><%= t "contact_title" %></h3>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
          <%= f.label t("name") %>
          <%= f.text_field :name, required: true, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.text_field :email, required: true, class: "form-control" %>
      </div>      
        <div class="hidden">
          <%= f.label :nickname %>
          <%= f.text_field :nickname, hint: 'laisser ce champ vide' %>
        </div>
      <div class="form-group">
        <%= f.submit t("cta_send_message"), class: "btn btn-outline-primary" %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :message %>
        <%= f.text_area :message, as: :text, class: "form-control", style: "width: 100%; height: 150px;" %>
      </div>
    </div>
  </div>
  <% end %>
</div>

<!--form method="post">
    <h3>Ecrivez nous un message</h3>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <input type="text" name="txtName" class="form-control" placeholder="Nom *" value="" />
        </div>
        <div class="form-group">
         <input type="text" name="txtEmail" class="form-control" placeholder="Email *" value="" />
        </div>
        <div class="form-group">
          <input type="text" name="txtPhone" class="form-control" placeholder="Portable *" value="" />
        </div>
        <div class="form-group">
          <input type="submit" name="btnSubmit" class="btn btn-outline-primary" value="Envoyer Message" />
        </div>
        <div class="form-group">
          <input type="text" name="txtNickname" class="hidden" placeholder="Nickname *" value="" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <textarea name="txtMsg" class="form-control" placeholder="Votre Message *" style="width: 100%; height: 150px;"></textarea>
        </div>
      </div>
    </div>
  </form>
-->