<main>
    <div class="container">

      <!--Section: Block Content-->
      <section class="mt-5 mb-4">

        <!--Grid row-->
        <div class="row">

          <!--Grid column-->
          <div class="col-md-8">

            <!-- Card -->
            <div class="card mb-4">
              <div class="card-body">

                <h5 class="mb-4"><%= t "cart" %> (<span><%= @cart.items.length %></span> <%= t "subscription" %>)</h5>
                <% @cart.items.each do |item_select|%>
                <div class="row mb-4">
                  <div class="col-md-5 col-lg-3 col-xl-3">
                    <div class="mb-3 mb-md-0">
                    <% if item_select.avatar.attached? %>
                        <%= image_tag item_select.avatar, class: "img-fluid w-100" %>
                    <% else %>
                        <%= image_tag "https://pajulahti.com/wp-content/uploads/2017/04/500x500.jpeg", style: "width: 50px", :crop => :fill, class: "img-fluid w-100" %>
                    <% end %>              
                    </div>
                  </div>
                  <div class="col-md-7 col-lg-9 col-xl-9">
                    <div>
                      <div class="d-flex justify-content-between">
                        <div>
                          <h5><%= link_to item_select.title, item_path(item_select.id) %></h5>                          
                          <p class="mb-2 text-muted text-uppercase small"><%= item_select.sub_category.duration %></p>
                          <p class="mb-3 text-muted text-uppercase small"><%= item_select.description %></p>
                        </div>                        
                      </div>
                      <div class="d-flex justify-content-between align-items-center">
                        <div>
                          <i class="fas fa-trash-alt mr-1"></i> <%= link_to t("delete_product"), item_cart_path(item_select), method: :delete, class: "card-link-secondary small text-uppercase mr-3" %>
                        </div>
                        <p class="mb-0"><span><strong><%= item_select.price %>€</strong></span></p>
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="mb-4">
                <% end %>                      
              </div>
            </div>
            <!-- Card -->

            <!-- Card -->
            <div class="card mb-4">
              <div class="card-body">

                <h5 class="mb-4"><%= t "scheduled_delivery"%></h5>

                <p class="mb-0"><%= t "delivery_in_cart" %></p>
              </div>
            </div>
            <!-- Card -->

            <!-- Card -->
            <div class="card mb-4">
              <div class="card-body">
                <h5 class="mb-4"><%= t "we_accept" %></h5>
                <%= image_tag("visa.svg", :alt => "Visa", class:"mr-2", width:"45px") %>
                <%= image_tag("amex.svg", :alt => "Visa", class:"mr-2", width:"45px") %>
                <%= image_tag("mastercard.svg", :alt => "Visa", class:"mr-2", width:"45px") %>
              </div>
            </div>
            <!-- Card -->

          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-4">

            <!-- Card -->
            <div class="card mb-4">
              <div class="card-body">

                <h5 class="mb-3"><%= t "total" %></h5>

                <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                    <%= t "subtotal" %>
                    <span><%= @cart.total_price %>€</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                    <%= t "delivery_in_cart" %>
                    <span><%= t "free" %></span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                    <div>
                      <strong><%= t "total" %></strong>
                      <strong>
                        <p class="mb-0"><%= t "vat_included" %></p>
                      </strong>
                    </div>
                    <span><strong><%= @cart.total_price %>€</strong></span>                  
                  </li>                  
                </ul>
                <% if @cart.total_price <= 0 %>
                  <p><%= t "cart_empty" %></p>
                <% else %>
                  <% if current_user.adress.blank? || current_user.city.blank? || current_user.zipcode.blank? %>
                    <h6><%= t "current_address" %></h6>
                    <%= t "address" %> <i><%= current_user.adress %></i><br>
                    <% if current_user.address_sup.blank? == false %>
                      <%= t "additional_address" %> <i><%= current_user.address_sup %></i><br>
                    <% end %>
                    <% if current_user.door_code.blank? == false %>
                      <%= t "door_code" %> <i><%= current_user.door_code %></i><br>
                    <% end %>
                    <%= t "city" %> <i><%= current_user.city %></i><br>
                    <%= t "zip_code" %> <i><%= current_user.zipcode %></i><br><br>
                    <%= link_to t("complete_profile"), edit_users_path, class: "btn btn-danger" %>
                  <% else %>
                    <%= button_to t("pay_now"), checkout_create_path, method: :post, params: {cart_id: @cart.id}, remote: true, class: "btn btn-primary", id: "checkout-button" %>
                  <% end %>
                <% end %>
                <!-- button_to "procéder au paiement", new_charge_path, class: "btn btn-primary btn-block", method: "get" -->

                 
              </div>
            </div>    

          </div>
          <!--Grid column-->

        </div>
        <!--Grid row-->
      <script src="https://js.stripe.com/v3"></script>
      </section>
      <!--Section: Block Content-->

    </div>
  </main>