<div class="my-3">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to "Accueil", root_path %>
      </li>
      <li class="breadcrumb-item"><%= link_to "Abonnements", subscription_path %></li>
      <li class="breadcrumb-item active" aria-current="page">Produit</li>
    </ol>
  </nav>
</div>
<div class="container">
  <div class="my-5">
    <div class="row">
      <div class="col-md-5 mb-4 mb-md-0 my-2">
        <%if @item.avatar.attached?%>
          <%= image_tag @item.avatar, alt: 'avatar', class: "img-fluid w-100" %>
        <%else%>
          <%= image_tag("default.jpg", class:"img-fluid w-100") %>
        <%end%>
      </div>
      <div class="col-md-7 my-2">
        <h5 class="mt-4">Abonnement <%= @item.sub_category.duration %> mois</h5>
        <hr class="hr-product my-4">
        <p class="mb-2 text-muted text-uppercase small"><%= @item.title %></p>
        <ul class="rating">
          <li class="pr-1">
            <i class="fas fa-star fa-sm text-primary"></i>
          </li>
          <li class="pr-1">
            <i class="fas fa-star fa-sm text-primary"></i>
          </li>
          <li class="pr-1">
            <i class="fas fa-star fa-sm text-primary"></i>
          </li>
          <li class="pr-1">
            <i class="fas fa-star fa-sm text-primary"></i>
          </li>
          <li class="pr-1">
            <i class="far fa-star fa-sm text-primary"></i>
          </li>
        </ul>
        <p><span class="mr-1"><strong><%= @item.price %>€</strong></span></p>
        <p class="pt-1"><%= @item.description %></p>
        <div class="table-responsive">
          <table class="table table-sm table-borderless mb-0">
            <tbody>
              <tr>
                <th class="pl-0 w-25" scope="row"><strong>Taille</strong></th>
                <td><%= @item.size %></td>
              </tr>
              <tr>
                <th class="pl-0 w-25" scope="row"><strong>Durée</strong></th>

                <% items = Item.where(title: @item.title, sub_type: @item.sub_type)%>
                <% items.each do |item| %>
                  <% if item != @item%>
                    <td><%= link_to "#{item.sub_category.duration} Months", item_path(item), class:"btn btn-secondary btn-sm mb-2" %></td>  
                  <% else %>
                    <td><%= link_to "#{item.sub_category.duration} Months", item_path(item), class:"btn btn-primary btn-sm mb-2" %></td>  
                  <% end %>
                <% end %>
              </tr>
              <tr>
                <th class="pl-0 w-25" scope="row"><strong>Type</strong></th>
                <td><%= @item.sub_type.specification %></td>
              </tr>
            </tbody>
          </table>
        </div>
        <hr>
        <% if user_signed_in? %>      
          <% if current_user.cart.items.first %> 
            Un Produit est déjà dans votre panier
          <% else %>
            <%= link_to item_item_carts_path(@item), class:"btn btn-primary btn-md mr-1 mb-2" do %><span class="fas fa-shopping-cart ml-2 mr-2"></span>Ajouter au panier<% end %>      
          <% end %> 
        <% else %>
          <%= link_to 'Merci de vous vous connecter si vous voulez ajouter celci a votre panier.', new_user_session_path %>
        <% end %>
      </div>
    </div>
  </div>
</div>
