<div class="my-3">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to "Accueil", accueil_path %>
      </li>
      <li class="breadcrumb-item"><%= link_to "Abonnements", abonnements_path %></li>
      <li class="breadcrumb-item active" aria-current="page">Produit</li>
    </ol>
  </nav>
</div>
<div class="container">
  <div class="my-5">
    <div class="row">
      <div class="col-md-5 mb-4 mb-md-0">

        <div class="">
        <%if @item.avatar.attached?%>
          <%= image_tag @item.avatar, alt: 'avatar', class: "img-fluid w-100" %>
        <%else%>
          <img class="img-fluid w-100" src="https://mdbootstrap.com/img/Photos/Horizontal/Interior/img(10).jpg" alt="Sample">
        <%end%>
          <a href="#!">
            <div class="mask waves-effect waves-light"></div>
          </a>
        </div>

      </div>
      <div class="col-md-7">

        <h5>Abonnement <%= @item.sub_category.duration %> mois</h5>
        <hr class="hr-product my-4">
        <p class="mb-2 text-muted text-uppercase small"><%= @item.title %></p>
        <ul class="rating">
          <li class="pr-1">
            <i class="fas fa-star fa-sm text-primary"></i>
          </li>
          <li class="pr-1">
            <i class="fas fa-star fa-sm text-primary"></i>
          </li>
          <li class="pr-1">
            <i class="fas fa-star fa-sm text-primary"></i>
          </li>
          <li class="pr-1">
            <i class="fas fa-star fa-sm text-primary"></i>
          </li>
          <li class="pr-1">
            <i class="far fa-star fa-sm text-primary"></i>
          </li>
        </ul>
        <p><span class="mr-1"><strong><%= @item.price %>€</strong></span></p>
        <p class="pt-1"><%= @item.description %></p>
        <div class="table-responsive">
          <table class="table table-sm table-borderless mb-0">
            <tbody>
              <tr>
                <th class="pl-0 w-25" scope="row"><strong>Taille</strong></th>
                <td><%= @item.size %></td>
              </tr>
              <tr>
                <th class="pl-0 w-25" scope="row"><strong>Category</strong></th>
                <td><%= @item.sub_category.duration %> mois</td>
              </tr>
              <tr>
                <th class="pl-0 w-25" scope="row"><strong>Types</strong></th>
                <td><%= @item.sub_type.specification %></td>
              </tr>
            </tbody>
          </table>
        </div>
        <hr>
        <% if user_signed_in? %>      
          <% if current_user.cart.items.find_by(id: @item.id) %> 
            Item déjà dans votre panier
          <% else %>
            <%= link_to panier_path(@item), class:"btn btn-light btn-md mr-1 mb-2", method: "POST" do %><span class="fas fa-shopping-cart ml-2 mr-2"></span>Add to cart<% end %>      
          <% end %> 
        <% else %>
          <%= link_to 'Merci de vous vous connecter si vous voulez ajouter celci a votre panier.', new_user_session_path %>
        <% end %>
      </div>
    </div>
  </div>
</div>
